@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4"><a asp-page="/NewGame/Index">Start a new game</a></h2>
    <h2 class="display-4"><a asp-page="/LoadGame/Index">Load a game</a></h2>
</div>

@section Scripts{
    <script src="@Url.Content("~/js/minesweeper.js")"></script>
}